@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'PoppinsBold';
    src: url(fonts/Poppins-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
main{
    
    z-index: 10;
    text-align: center;
    width: 100%;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    opacity: 0.6;
    z-index: -1;
}
h1{
    font-size: 36px;
    color: white;
    text-align: center;
    padding: 30px 0 20px;
    font-family: 'PoppinsBold';
}
form{
    text-align: center;
}
input{
    width: 320px;
    background-color: rgba(140, 140, 140, 0.85);
    border-radius: 15px;
    padding: 10px 15px;
    outline: none;
    color: white;
    z-index: 999;
}
input::placeholder {
	color: rgb(196, 196, 196);
}

#userFind {
	display: none;
    justify-content: center;
	margin: 0 auto;
    padding: 20px 0;
	text-align: center;
}

#profile {
	background-color: rgba(140, 140, 140, 0.85);
	padding: 10px;
	border-radius: 5px 0 0 5px;
}

#profile img {
	width: 250px;
	border-radius: 3px;
}

h5 {
	font-size: 18px;
    font-family: 'PoppinsBold';
    color: #cccccc;
}
h3{
    margin-bottom: 20px;
}
#profile a {
	text-decoration: none;
	background-color: #1a3a4e;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}

#info {
	width: 250px;
	padding: 10px;
	background-color: rgba(140, 140, 140, 0.85);
	border-left: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 0 5px 5px 0;
}

#info p {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	height: fit-content;
	margin: 10px 5px;
	padding: 5px ;
	text-transform: uppercase;
	background-color: rgba(200, 200, 200, 0.85);
	border-radius: 5px;
}

#info p:hover {
	transform: scale(1.1);
}